html, body {
  height: 100%;
}

.body {
  color: white;
  height: 100%;
  padding: 10px;
  background-color: #323942;
}

nav {
  background-color: #406793;
  padding-left: 10px;
}

.collapsible-header {
  background-color: #575b5f;
}

.avatar {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background-image: url("https://avatars1.githubusercontent.com/u/46166974?s=460&v=4");
	background-size: cover;
}

.my-name {
	color: white;
	font-size: 25px;
}

.material-icons {
	color: #eee;
}

